.btn {
  border: 0;
  padding: 8px 25px;
  @include radius(0);

  &-primary{
    background-color: $blue-100;
    // add green color to all the buttons who are not disabled
    &:hover, &:disabled{
      background-color: $blue-100;
    }
    &:focus{
      background-color: $blue-100;
      @include box-shadow(0 0 0 0.2rem rgba($blue-100, .50));
    }
  }
}
